{% extends 'base.html' %}
{% block title %}
<title>{{ film.name }}</title>
{% endblock %}

{% block content %}
      <div class = "container mt-3">
        <div class="card mb-3" >
            <div class="row g-0">
              <div class="col-md-2">
                <img src="{{ film.poster.url }}" class="img-fluid rounded-start" alt="..." style="width:100%">
              </div>
              <div class="col-md-10">
                <div class="card-body">
                  <h5 class="card-title">{{ film.name}}</h5>
                  <p class="card-text">{{ film.about }}</p>
                  <p class="card-text"><small class="text-body-secondary">Last updated{{ film.pub_date | timesince}}</small></p>
                  <p class="card-text">
                    {% for actor in film.actors.all %}
                    <small class="text-body-secondary">{{ actor.name }}</small>
                    <small class="text-body-secondary">{{ actor.surname }},</small>
                    {% endfor %}
                  </p>
                </div>
              </div>
            </div>
          </div  class="container">
          <video controls>
            <source src="{{ film.video.url }}" type="video/mp4">
            <source src="{{ film.video.url }}" type="video/ogg">
            Your browser does not support the video tag.
          </video>
      </div>
 {% endblock %}